# Godot 4+ specific ignores
.godot/
/android/
/builds/
build/

.import/

export.cfg
# export_presets.cfg

*.tmp
*.translation
/tests/*_run.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Rider
.idea/
